
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div style="margin-top:10%!important">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-2">
        <a href="/Home/AdminCompIndex" class="btn btn-main">
            <span> Company Setting</span>
        </a>
    </div>
    <div class="col-xs-2">
        <a href="/Home/AdminBarIndex" class="btn btn-main">
            <span> Branch Setting</span>
        </a>
    </div>
    <div class="col-xs-2">
        <a href="/Home/AdminCompDataIndex" class="btn btn-main">
            <span> Rest Company</span>
        </a>
    </div>
    <div class="col-xs-2">
        <a href="/Home/AdminColseComp" class="btn btn-main">
            <span>  Admin Company</span>
        </a>
    </div>
    <div class="col-xs-2">
        <a href="/Home/AdminRoleBranch" class="btn btn-main">
            <span> Role Branch</span>
        </a>
    </div>
    <div class="col-xs-1">
    </div>
</div>
