
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div style="margin-top:10%!important">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-2">
        <a href="/Home/AdminCompIndex" class="btn btn-main">
            <div class="admin-container">
                <i class="fa-solid fa-building-circle-check"></i>
                <span> Company Settings</span>
            </div>
        </a>
    </div>
    <div class="col-xs-2">
        <a href="/Home/AdminBarIndex" class="btn btn-main">
            <div class="admin-container">
                <i class="fa-solid fa-user-tie"></i>
                <span>  Branch Settings</span>
            </div>
        </a>
    </div>
    <div class="col-xs-2">
        <a href="/Home/AdminCompDataIndex" class="btn btn-main">
            <div class="admin-container">
                <i class="fa-solid fa-user-tie"></i>
                <span> Rest Company</span>
            </div>
        </a>
    </div>
    <div class="col-xs-2">
        <a href="/Home/AdminColseComp" class="btn btn-main">
            <div class="admin-container">
                <i class="fa-solid fa-user-tie"></i>
                <span> Admin Company</span>
            </div>
        </a>
    </div>
    <div class="col-xs-2">
        <a href="/Home/AdminRoleBranch" class="btn btn-main">
            <div class="admin-container">
                <i class="fa-solid fa-user-tie"></i>
                <span> Role Branch</span>
            </div>
        </a>
    </div>
    <div class="col-xs-1">
    </div>
</div>
