<!-- Details Side Icon Bar -->
<div class="details-iconbar d-flex justify-content-start">
    <a class="icon-bar d-flex justify-content-between edit display_none" id="btnUpdate">
        <i class="fas fa-edit fa-fw side-icon ms-1"></i>
        <span class="align-self-center mb-3">  تعديل</span>
    </a>
    <a class="icon-bar d-flex justify-content-between print-details display_none" id="btnPrintTransaction">
        <i class="fas fa-print fa-fw side-icon ms-1"></i>
        <span class="align-self-center mb-3">  طباعه</span>
    </a>
    <a class="icon-bar d-flex justify-content-between print-InvoicePrice display_none" id="btnPrintInvoicePrice">
        <i class="fas fa-print fa-fw side-icon ms-1"></i>
        <span class="align-self-center mb-3">   طباعه عرض اسعار</span>
    </a>
    <a class="icon-bar d-flex justify-content-between save display_none" id="btnSave">
        <i class="fas fa-save fa-fw side-icon ms-1"></i>
        <span class="align-self-center mb-3">  حفظ</span>
    </a>
    <a class="icon-bar d-flex justify-content-between back display_none" id="btnBack">
        <i class="fas fa-backspace fa-fw side-icon ms-1"></i>
        <span class="align-self-center mb-3">  تراجع</span>
    </a>
</div>

